<textarea {{action 'mouseUp'}} id="doc" rows="20" cols="80" class="jumbotron"></textarea>

<button {{action 'saveDoc'}} type="button" data-dismiss="alert" aria-label="Close">Save Document</button>

{{yield}}
