<br />
<button type="button" class="btn btn-default" aria-label="Left Align" style="color:black;" {{action "newDoc"}}>
  {{#link-to "docs"}}<span class="NewDoc" style="font-size:3em;"><span class="glyphicon glyphicon-folder-open" aria-hidden="true">
</span>    <span class="textButton">Get Your Documents</span></span>{{/link-to}}
</button>
