{{yield}}
<p  class="NewDoc"></p>
<button type="button" class="btn btn-default" aria-label="Left Align" style="color:black;">
  {{#link-to "new-document"}}<span class="NewDoc" style="font-size:3em;"><span class="glyphicon glyphicon-plus" aria-hidden="true">
</span>    <span class="textButton">New Document</span></span>{{/link-to}}
</button>
